.footer{
  padding-top: 30px;
  height: 100px;
  background-color: #34485D
}
.field{
  margin: 5px;
  font-size: 17px;
  color: #ffffff;
  font-weight: 300;
}

@media (min-width:767px) {
  .field{
    margin: 10px;
  }
  .footer{
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media (max-width:767px) {
  .field{
    font-size: 15px;
  }
  .footer{
    padding-left: 80px;
    padding-right: 80px;
  }
  .footerhome{
    height: 155px;
  }
}
.footermain{
  background-color: #dbf3fa;
  padding-top: 70px;
}
.footerhome{
  height: 100px;
  background-color: #34485D
}
